html(lang="en")
  include ../includes/head.pug
  body.bg-gray-100
    include ../includes/navbar.pug
    //alasan masih bersama
    //lantas juicy lucy
    //tanpa tergesa
    //kau buat aku jadi milikmu
    //bergetar hatiku
    //- strat wrapper
    .min-h-screen.flex.flex-row.flex-wrap(class="mt-[3.6rem]")
      // start sidebar
      #sideBar.relative.flex.flex-col.flex-wrap.bg-white.border-r.border-gray-300.p-6.flex-none.w-64.animated.faster(class=' md:top-0 md:z-[1] md:shadow-xl')
        .flex.flex-col
          p.uppercase.text-xs.text-gray-600.mb-4.tracking-wider homes
          a.mb-3.capitalize.font-medium.text-sm.transition.ease-in-out.duration-500(href='/admin' class='hover:text-teal-600')
            i.fad.fa-chart-pie.text-xs.mr-2
            |         Analytics dashboard 
          
          p.uppercase.text-xs.text-gray-600.mb-4.mt-4.tracking-wider Data
          a.mb-3.capitalize.font-medium.text-sm.transition.ease-in-out.duration-500(href='/admin/user' class='hover:text-teal-600')
            i.fad.fa-users.text-xs.mr-2
            |         User
          a.mb-3.capitalize.font-medium.text-sm.transition.ease-in-out.duration-500(href='/admin/produk' class='hover:text-teal-600')
            i.fad.fa-sack-dollar.text-xs.mr-2
            |         Jenis Produk
          a.mb-3.capitalize.font-medium.text-sm.transition.ease-in-out.duration-500(href='/admin/produksi' class='hover:text-teal-600')
            i.fad.fa-tshirt.text-xs.mr-2
            |         Produksi 
        // end sidebar content
      // end sidebar
      .bg-gray-100.flex-1.p-6
        block content
    script.
      /*Toggle dropdown list*/
      var userMenuDiv = document.getElementById("userMenu");
      var userMenu = document.getElementById("userButton");
      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");
      document.onclick = check;
      function check(e) {
      var target = (e && e.target) || (event && event.srcElement);
      //User Menu
      if (!checkParent(target, userMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, userMenu)) {
      // click on the link
      if (userMenuDiv.classList.contains("invisible")) {
      userMenuDiv.classList.remove("invisible");
      } else { userMenuDiv.classList.add("invisible"); }
      } else {
      // click both outside link and outside menu, hide menu
      userMenuDiv.classList.add("invisible");
      }
      }
      //Nav Menu
      if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
      // click on the link
      if (navMenuDiv.classList.contains("hidden")) {
      navMenuDiv.classList.remove("hidden");
      } else { navMenuDiv.classList.add("hidden"); }
      } else {
      // click both outside link and outside menu, hide menu
      navMenuDiv.classList.add("hidden");
      }
      }
      }
      function checkParent(t, elm) {
      while (t.parentNode) {
      if (t == elm) { return true; }
      t = t.parentNode;
      }
      return false;
      }
    block script